.imgDiv {
    display: inline-block;
    position: relative;
}

.delete {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    /*display: none;*/
}

.picPlayImg{
    width: 140px;
    height: 100px;
}

.picPlayInput{
    width: 200px;
}

.picPlayA{
    margin-top: 10px;
    display: block;
}